.card {
  display: flex;
  gap: var(--spacing-4);
  padding: var(--spacing-5);
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  transition: box-shadow var(--transition-default);
  flex-direction: column;
}

.hoverable:hover {
  box-shadow: var(--card-shadow-hover);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4);
}

.title {
  font-size: var(--font-size-h-m);
  font-weight: var(--font-weight-semibold);
}

.actions {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: var(--spacing-2);
}